nav .nav-list {
    display: flex;
    height: max-content;
}
nav .nav-list a li {
    font-family: "Raleway", serif;
    color: var(--primary-dark-blue);
    font-size: 16px;
    cursor: pointer;
    margin-right: 40px;
}
nav .nav-list a:last-child {
    margin-right: 0;
}